[Unit]
Description=Watch Directory Service
After=network.target

[Service]
ExecStart=/home/kostia/watch_script.sh
Restart=always
User=kostia
Group=kostia
Environment=HOME=/home/kostia/

[Install]
WantedBy=default.target
